

              <div class="card" style="width:100%">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Modifier un contact</h4>
                      <p class="card-category">Entrer les nouveaux donnees de contact</p>
                  </div>
                  <div class="card-body" >
                      <form [formGroup]="editForm" (ngSubmit)="editContact(editForm.value);">
                          <div class="row" formGroupName="name">
                                 <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input formControlName="firstname" matInput placeholder="First Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                           <mat-form-field class="example-full-width">
                                  <input matInput formControlName="lastname" placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                                </div>
                              <div class="row">
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="email" placeholder="Email address" type="email">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="phone" placeholder="Phone" type="text">
                                  </mat-form-field>
                              </div>
                          </div>
                           <div class="row">
                              <div class="col-md-6">
                                <mat-form-field appearance="fill">
    <mat-label>Contact Type</mat-label>
    <mat-select formControlName="typeContact">
      <mat-option value="Work">
        Work
      </mat-option>
       <mat-option value="Family">
        Family
      </mat-option>
       <mat-option value="Friend">
        Friend
      </mat-option>
    </mat-select>
  </mat-form-field>


                              </div>
                          </div>
                             <button mat-dialog-close mat-raised-button class="btn btn-light pull-left">Close</button>
                          <button  [disabled]='!editForm.valid' mat-dialog-close mat-raised-button type="submit" class="btn btn-danger pull-right">Modifier contact</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>

